@font-face {
  font-family: 'SF Pro Display';
  src: url('fonts/SFProDISPLAYBLACKITALIC.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('fonts/SFProDISPLAYBOLD.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('fonts/SFProDISPLAYHEAVYITALIC.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('fonts/SFProDISPLAYMEDIUM.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('fonts/SFProDISPLAYREGULAR.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('fonts/SFProDISPLAYSEMIBOLDITALIC.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('fonts/SFProDISPLAYTHINITALIC.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('fonts/SFProDISPLAYULTRALIGHTITALIC.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
